<div class="market">

  <div>
    <p>Connectez-vous à</p>
    <br>
    <h1> discours.ovh </h1>
  </div>

  <div class="bottom">
    <p>The wedding' speech</p>
  </div>
</div>

<div class="chart">
  <div id="chart" style="width: auto; height: 100vh; padding: 10px;"></div>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <%= javascript_tag do -%>
    google.charts.load('current', {'packages':['line']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = JSON.parse('<%= @stocks_value_per_minute.to_json.html_safe -%>');
      data = [['Minutes:Seconds', 'Alex & Company']].concat(data);
      data = google.visualization.arrayToDataTable(data);
      var options = {
        chart: {
          legend: { position: 'bottom' },
        },
      };

      var chart = new google.charts.Line(document.getElementById('chart'));
      chart.draw(data, google.charts.Line.convertOptions(options));
    }
  <% end -%>

</div>
