<div class="market_value">

  <div>
    <h4> Market Value </h4>
    <p><%= @market_value %> $</p>
    <br>
    <%= link_to "Back to the market place", new_vote_path, class: "btn btn-default" %>
  </div>

  <!-- <div class="graph">
    <%= line_chart @buys.group_by_minute(:created_at).count %>
    <%= line_chart @sells.group_by_minute(:created_at).count %>
  </div> -->

  <div class="bottom">
    <p>The wedding' speach</p>
  </div>
</div>
