<div class="market">

  <div>
    <h4><%= @market_value %> $</h4>
    <br>
    <%= link_to "Back to the market place", new_vote_path, class: "btn btn-default" %>
  </div>

  <div class="bottom">
    <p>The wedding' speech</p>
  </div>
</div>
