// Place all the styles related to the Votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lang-en {
  width: 100%;
  height: 100vh;
}

.market {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(133deg, rgba(45,117,250,1) 0%, rgba(57,154,247,1) 58%, rgba(0,212,255,1) 100%);
  text-align: center;
  margin: auto;
  padding-top: 200px;
}

.chart {
  margin-left: 10px;
  margin-right: 10px;
  height: 100vh;
}


.market p {
  color: #ffffff;
  font-size: 20px;
}

.market h4 {
  color: #ffffff;
}

.market h5 {
  color: #ffffff;
}

.btn-alexis {
  background-color: #225aa8;
  color: #ffffff;
}

.btn-alexis:hover {
  background-color: #2561b8;
  color: #ffffff;
}

.secondary {
  color: #ffffff;
}

.graph {
  background-color: rgba(136, 197, 255, 0.700);
  padding: 20px;
  margin: 10px;
}

.bottom {
  margin: auto;
  color: #ffffff;
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom p {
  font-size: 15px;
  font-weight: lighter;
}
