<div class="market">
  <%= link_to "Buy", votes_path(order: 'buy'), method: 'post', 'data-attribute': 'buy', class: "btn btn-success btn-lg" %>
  <br>
  <br>
  <%= link_to "Sell", votes_path(order: 'buy'), method: 'post', 'data-attribute': 'sell', class: "btn btn-danger btn-lg" %>
</div>
